  <aside class="bg-dark">
      <div class="container text-center">
          <div class="call-to-action">
              <h2 class="section-heading">My Professional Journey</h2>
                <hr class="light">
                <ul class="left-aligned-list text-faded">
                    <li><span class="date">MDPI-Journal-Electronics 2023</span>Service function chaining to support ultra-low latency communication in NFV</li>
                    <li><span class="date">IEEE-17th_ConTel 2023</span>A novel dynamic service function chaining to enable Ultra-Reliable Low Latency Communication in NFV</li>
                    <li><span class="date">IEEE-9th_ComNet 2022</span>A novel reliable low-latency service function chaining to enable URLLC in NFV</li>
                    <li><span class="date">IEEE-CobCom 2022</span>Service function chaining to support ultra-low latency communication in NFV</li>
                    <li><span class="date">IEEE-NFV-SDN 2021</span>Application- and reliability-aware service function chaining to support low-latency applications in an NFV-
             enabled network</li>
                    <li><span class="date">IEEE-3rd_ICCCS 2018</span>Analysis of LoRaWAN technology in an Outdoor and an Indoor Scenario in Duisburg-Germany</li>
                    <li><span class="date">OSJ-Journal 2015</span>Identifying immediate family relationship by extraction of parametric models and statistical features of cepstrum of speech signal</li>
                </ul>
              <a href="#" class="btn btn-default btn-xl wow tada">Contact Now!</a>
          </div>
      </div>
  </aside>
