<style>
    .left-aligned-list {
        text-align: left;
        padding-left: 0;
        list-style-position: inside;
    }
</style>

<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">More about me</h2>
                <hr class="light">
                <ul class="text-faded">
                    <li>2023-2018  Dr.-Ing. Computer Science, Duisburg-Essen University, Germany</li>
                    <li>2014-2017 M.Sc. Embedded Systems Engineering, Duisburg-Essen University, Germany</li>
                    <li>2014 Moved to Germany</li>
                    <li>2006 – 2010 B.Sc. Biomedical Engineering (Bioelectric), QIAU University, Iran"</li>
                </ul>
                <a href="#" class="btn btn-default btn-xl">Get Started!</a>
            </div>
        </div>
    </div>
</section>
