<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Here comes my introduction</h2>
                <hr class="light">
                <p class="text-faded">Sam was an external PhD student from November 2018 to January 2024. He received his Master's degree in "Embedded Systems Engineering" with a focus on the Internet of Things at the University of Duisburg-Essen. Since graduating in December 2017, he has been working as a Product Developer at Deutsche Telekom GmbH and in January 2024 finally defended his dissertation entitled "Towards the optimal orchestration of service function chains to enable ultra-reliable low latency communications in an NFV-enabled network".</p>
                <a href="#" class="btn btn-default btn-xl">Get Started!</a>
            </div>
        </div>
    </div>
</section>
