<style>
    .left-aligned-list {
        text-align: left;
        padding-left: 0;
        list-style-position: inside;
    }
    .left-aligned-list li {
        display: flex;
        justify-content: flex-start;
    }
    .left-aligned-list li span.date {
        display: inline-block;
        width: 150px; /* Adjust the width as needed */
        padding-right: 10px; /* Space between date and text */
        white-space: nowrap; /* Prevent date from wrapping */
    }
</style>

<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">My Academic Journey</h2>
                <hr class="light">
                <ul class="left-aligned-list text-faded">
                    <li><span class="date">11.2018-01.2024</span>Dr.-Ing. Computer Science, Duisburg-Essen University, Germany</li>
                    <li><span class="date">10.2014-10.2017</span>M.Sc. Embedded Systems Engineering, Duisburg-Essen University, Germany</li>
                    <li><span class="date">2014</span>Moved to Germany</li>
                    <li><span class="date">08.2006-08.2010</span>B.Sc. Biomedical Engineering (Bioelectric), QIAU University, Iran</li>
                </ul>
                <a href="#" class="btn btn-default btn-xl">Get Started!</a>
            </div>
        </div>
    </div>
</section>
