<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Let's Get In Touch!</h2>
                <hr class="primary">
                <p>Ready to start your next project with me? That's great! Give me a call or send me an email and I will get back to you as soon as possible!</p>
            </div>
            <div class="col-lg-2 col-lg-offset-2 text-center">
                <a href="https://linkedin.com/in/{{ sam-erbati }}">
                    <i class="fa fa-handshake-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                    <p>{{ sam-erbati }}</p>
                    <p>https://linkedin.com/in/{{ sam-erbati }}</p>
                </a>
            </div>
            <div class="col-lg-2 col-lg-offset-1 text-center">
                <a href="mailto:{{ sam.erbati22@gmail.com }}">
                    <i class="fa fa-paper-plane fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                    <p>{{ sam.erbati22@gmail.com }}</p>
                    <p>mailto:{{ sam.erbati22@gmail.com }}</p>
                </a>
            </div>
            <div class="col-lg-2 col-lg-offset-1 text-center">
                <a href="https://github.com/{{ samerbati }}">
                    <i class="fa fa-code-fork fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                    <p>{{ samerbati }}</p>
                    <p>https://github.com/{{ samerbati }}</p>
                </a>
            </div>
        </div>
    </div>
</section>
