<header>
    <div class="header-content">
        <div class="header-content-inner" style="text-align: center;">
            <img src="https://github.com/SamErbati/samerbati.github.io/blob/master/img/portfolio/Sam,%20Erbati_04---.jpg?raw=true" alt="Photo" style="width: 250px; height: 250px; border-radius: 50%; margin-up: 50px;margin-bottom: 20px;">
            <p style="font-size: 48px;">Dr.-Ing. Sam Erbati</p>
            <hr>
            <p>Welcome to my personal website!</p> 
            <p>I am Sam Erbati, an enthusiastic researcher based in Germany with a deep-seated passion for Artificial Intelligence (AI), Machine Learning (ML), Data Science, and optimization methodologies, particularly in the telecommunications field.</p>
            <p>I completed my Ph.D. in Computer Science at the University of Duisburg-Essen in Germany, where I focused on advancing the frontiers of knowledge in my areas of expertise. My academic journey and professional experiences have equipped me with a robust understanding of cutting-edge technologies and their applications in solving complex problems.</p>
            <p>Here, you can explore my research, publications, and contributions to the field. Thank you for visiting!</p>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
        </div>
    </div>
</header>
