<section class="no-padding" id="portfolio">
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="https://github.com/SamErbati/samerbati.github.io/blob/master/img/portfolio/IMG_8715.jpg?raw=true" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Ph.D.
                            </div>
                            <div class="project-name">
                                Ph.D. Thesis Defense
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="https://github.com/SamErbati/samerbati.github.io/blob/master/img/portfolio/phd.2jpg.jpg?raw=true" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Ph.D.
                            </div>
                            <div class="project-name">
                                Thesis Goal
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="https://github.com/SamErbati/samerbati.github.io/blob/master/img/portfolio/phd.jpg?raw=true" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Ph.D.
                            </div>
                            <div class="project-name">
                                Optimizing SFC requests in terms of latency, reliability, and bandwdith utilization
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="https://github.com/SamErbati/samerbati.github.io/blob/master/img/portfolio/IMG_9252.JPG?raw=true" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                IEEE
                            </div>
                            <div class="project-name">
                                Best Presentation Award
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="https://github.com/SamErbati/samerbati.github.io/blob/master/img/portfolio/4.jpg?raw=true" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Generative AI
                            </div>
                            <div class="project-name">
                                Digital voice assistant
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="https://github.com/SamErbati/samerbati.github.io/blob/master/img/portfolio/5.jpg?raw=true" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Generative AI
                            </div>
                            <div class="project-name">
                                Image Captioning
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="https://github.com/SamErbati/samerbati.github.io/blob/master/img/portfolio/7.jpg?raw=true" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Generative AI
                            </div>
                            <div class="project-name">
                                Sam's LLM
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="https://github.com/SamErbati/samerbati.github.io/blob/master/img/portfolio/Capture.JPG?raw=true" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                @iThinx
                            </div>
                            <div class="project-name">
                                Developing LoRaWAN Gateway
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="https://github.com/SamErbati/samerbati.github.io/blob/master/img/portfolio/20171012_092222.jpg?raw=true" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                @iThinx
                            </div>
                            <div class="project-name">
                                Developing End-Node 
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="https://github.com/SamErbati/samerbati.github.io/blob/master/img/portfolio/20171025_154809.jpg?raw=true" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                @iThinx
                            </div>
                            <div class="project-name">
                                Developing Sigfox Gateway
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="https://github.com/SamErbati/samerbati.github.io/blob/master/img/portfolio/IMG_9236.JPG?raw=true" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                @iThinx
                            </div>
                            <div class="project-name">
                                Presentation
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="https://github.com/SamErbati/samerbati.github.io/blob/master/img/portfolio/IMG_5356.jpeg?raw=true" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Running
                            </div>
                            <div class="project-name">
                                Mountain half-marathon (Heidelberg)
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="https://github.com/SamErbati/samerbati.github.io/blob/master/img/portfolio/IMG_5089.jpeg?raw=true" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Running
                            </div>
                            <div class="project-name">
                                Bonn half-marathon
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="https://github.com/SamErbati/samerbati.github.io/blob/master/img/portfolio/IMG_5682%20(1).jpeg?raw=true" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Running
                            </div>
                            <div class="project-name">
                                Medals
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="https://github.com/SamErbati/samerbati.github.io/blob/master/img/portfolio/IMG_6285.JPG?raw=true" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                            ALP Cycling (Switzerland) 2024
                            </div>
                            <div class="project-name">
                               Camping for fifteen nights in the Alps
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
